{% extends "base.html" %}

{% block title %}Личный кабинет преподавателя{% endblock %}

{% block content %}
<div class="container mt-5 body-white-bg">
    <h1 class="text-center">Личный кабинет преподавателя</h1>
    <p class="text-center">Добро пожаловать, {{ current_user.username }}!</p>
    <hr>
    <h3>Статистика студентов по форме обучения</h3>
    <ul class="list-group">
        {% for form, count in student_count_by_form %}
        <li class="list-group-item">{{ form }}: {{ count }} студентов</li>
        {% endfor %}
    </ul>
    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Управление студентами</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ url_for('main.manage_students') }}">Добавить/Изменить студентов</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Управление предметами</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ url_for('main.manage_subjects') }}">Добавить/Изменить предметы</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Управление оценками</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ url_for('main.manage_grades') }}">Добавить/Изменить оценки</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
