{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать в систему учёта успеваемости!</h1>
    <p class="lead">Отслеживайте и управляйте успеваемостью студентов эффективно и легко.</p>
    <hr class="my-4">
    <p>Система позволяет преподавателям вести учёт успеваемости, а студентам - просматривать свои результаты.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('main.register') }}" role="button">Зарегистрироваться</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('main.login') }}" role="button">Войти</a>
</div>
{% endblock %}
