{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в систему учёта успеваемости студентов!</h1>
    <p class="lead">Это главная страница. Пожалуйста, войдите или зарегистрируйтесь, чтобы продолжить.</p>
    <hr class="my-4">
    <p>Система учёта успеваемости студентов помогает преподавателям и студентам отслеживать успеваемость и управление учебными данными.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('main.register') }}" role="button">Зарегистрироваться</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('main.login') }}" role="button">Войти</a>
</div>
{% endblock %}
