{% extends "base.html" %}

{% block title %}Управление студентами{% endblock %}

{% block content %}
<div class="container mt-5 body-white-bg">
    <h1 class="text-center">Управление студентами</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <a href="{{ url_for('main.dashboard_teacher') }}" class="btn btn-secondary mr-2">Назад</a>
            <a class="btn btn-primary" href="{{ url_for('main.add_student') }}">Добавить студента</a>
        </div>
    </div>
    <form class="form-inline mb-3">
        <label for="filter_by" class="mr-2">Фильтр по имени:</label>
        <input type="text" id="filter_by" name="filter_by" class="form-control mr-2" value="{{ filter_by }}">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>
    <div class="mb-3">
        <label for="sort_by" class="form-label">Сортировать по:</label>
        <select id="sort_by" class="form-select" onchange="location = this.value;">
            <option value="{{ url_for('main.manage_students', sort_by='name', filter_by=filter_by) }}" {% if sort_by == 'name' %}selected{% endif %}>Имя</option>
            <option value="{{ url_for('main.manage_students', sort_by='admission_year', filter_by=filter_by) }}" {% if sort_by == 'admission_year' %}selected{% endif %}>Год поступления</option>
            <option value="{{ url_for('main.manage_students', sort_by='education_form', filter_by=filter_by) }}" {% if sort_by == 'education_form' %}selected{% endif %}>Форма обучения</option>
            <option value="{{ url_for('main.manage_students', sort_by='group_name', filter_by=filter_by) }}" {% if sort_by == 'group_name' %}selected{% endif %}>Группа</option>
        </select>
    </div>
    <ul class="list-group">
        {% for student in students %}
            <li class="list-group-item">
                {{ student.name }} - {{ student.group_name }}
                <a class="btn btn-sm btn-warning float-right" href="{{ url_for('main.edit_student', student_id=student.id) }}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
