{% extends "base.html" %}

{% block title %}Управление студентами{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Управление студентами</h1>
    <a class="btn btn-primary mb-3" href="{{ url_for('main.add_student') }}">Добавить студента</a>
    <ul class="list-group">
        {% for student in students %}
            <li class="list-group-item">
                {{ student.name }} - {{ student.group_name }}
                <a class="btn btn-sm btn-warning float-right" href="{{ url_for('main.edit_student', student_id=student.id) }}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
