{% extends "base.html" %}

{% block title %}Управление оценками{% endblock %}

{% block content %}
<div class="container mt-5 body-white-bg">
    <h1 class="text-center">Управление оценками</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <a href="{{ url_for('main.dashboard_teacher') }}" class="btn btn-secondary mr-2">Назад</a>
            <a class="btn btn-primary" href="{{ url_for('main.add_grade') }}">Добавить оценку</a>
        </div>
    </div>
    <form class="form-inline mb-3">
        <label for="filter_by" class="mr-2">Фильтр по имени студента:</label>
        <input type="text" id="filter_by" name="filter_by" class="form-control mr-2" value="{{ filter_by }}">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>
    <div class="mb-3">
        <label for="sort_by" class="form-label">Сортировать по:</label>
        <select id="sort_by" class="form-select" onchange="location = this.value;">
            <option value="{{ url_for('main.manage_grades', sort_by='grade', filter_by=filter_by) }}" {% if sort_by == 'grade' %}selected{% endif %}>Оценка</option>
            <option value="{{ url_for('main.manage_grades', sort_by='year', filter_by=filter_by) }}" {% if sort_by == 'year' %}selected{% endif %}>Год</option>
            <option value="{{ url_for('main.manage_grades', sort_by='semester', filter_by=filter_by) }}" {% if sort_by == 'semester' %}selected{% endif %}>Семестр</option>
            <option value="{{ url_for('main.manage_grades', sort_by='student_id', filter_by=filter_by) }}" {% if sort_by == 'student_id' %}selected{% endif %}>Студент</option>
            <option value="{{ url_for('main.manage_grades', sort_by='subject_id', filter_by=filter_by) }}" {% if sort_by == 'subject_id' %}selected{% endif %}>Предмет</option>
        </select>
    </div>
    <ul class="list-group">
        {% for grade in grades %}
            <li class="list-group-item">
                Студент: {{ grade.student.name }} - Предмет: {{ grade.subject.name }} - Оценка: {{ grade.grade }}
                <a class="btn btn-sm btn-warning float-right" href="{{ url_for('main.edit_grade', grade_id=grade.id) }}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
